{
  "development": {
    "port": 6004,
    "chat_port":  6005,
    "service": "/express-chat/ws/",
    "connection_string": "postgres://postgres:root@localhost:5432/express_chat",
    "secret": "D3v3L0pM3nt",
    "generate_models": false
  },
  "production": {
    "port": 6004,
    "chat_port": 6005,
    "service": "/express-chat/ws/",
    "connection_string": "postgres://postgres:root@localhost:5432/express_chat",
    "secret": "Pr0DuCt10N",
    "generate_models": false
  }
}